@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Italic.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium-Italic.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Bold.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-Bold-Italic.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono/JetBrainsMono-ExtraBold-Italic.woff");
}
