<footer class="ui inverted vertical center aligned segment" id="footer">
    <div class="ui container">
        <div class="ui inverted centered grid">
            <div class="ui ten wide column" id="copyright">
                Copyright &copy; 2019 - <span id="copy-year"></span> Aidan T. Manning. No rights reserved.
                Website and its <a href="https://github.com/periodicaidan/xyz">source code</a> are free to use.
            </div>
        </div>
    </div>
</footer>